
{% extends "home/base.html" %}
{% load static %}

{%block css%}
<style>
  label{
    font-size: 16px;
    font-weight: bold;
  }
  .checkbox-xl .form-check-input {
    top: 1.2rem;
    scale: 1.7;
  }
  .check-label{
    margin-right:15px
  }
</style>
{%endblock%}
{% block title %}Record Modification{% endblock %}

{% block content %}
<div class="text-center my-4">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Department</th>
          <th scope="col">Account Owner</th>
          <th scope="col">Date Added</th>
          <th scope="col">Last Modified Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{department_name}}</th>
          <td>{{added_name.first_name}}</td>
          <td>{{date_creation|date:'Y-m-d  h:i A'}}</td>
          <td>{{last_modified|date:'Y-m-d  h:i A'}}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="text-warning">(Modification Mode)</h3>
</div>
<form class="row g-3 needs-validation my-4" novalidate action=""  enctype="multipart/form-data" autocomplete="off"  method="POST">
        {% csrf_token %}
    <div class="row mb-4">
      <div class="col" {% if not request.user.is_superuser%} hidden {%endif%} >
        <div class="form-check checkbox-xl">
          <input class="form-check-input" name="is_validate" type="checkbox" value="True" id="checkbox-3" {% if form.is_validate.value %} checked {% endif %} />
          <label class="form-check-label check-label" for="checkbox-3" >
            &nbsp;Record Verified?
          </label>
        </div>
      </div>
    </div>

    <div class="row">
          <div class="col-md-6 mb-2">
              <div class="row">
                <div class="col-md-2">
                  <img class="img-fluid w-100 h-100" src="/static/images/products/{{form.date.help_text}}" height="150" width="150" alt="">
                </div>
                <div class="col-md-10">
                  <label for="field1">{{form.date.label}}:</label>
                  <input type="text" id="dateInput" name="{{ form.date.name }}" value='{{ form.date.value|date:"Y-m-d" }}'   class="form-control bg-white text-black" required placeholder="date" required>
                </div>
              </div>
          </div>
     {% for field in form%}
        {% if field.name != 'note'  and field.name != "date"  and field.name != "file"  and field.name != "is_validate" %}
          <div class="col-md-6 mb-2">
            <div class="row">
              <div class="col-md-2">
                <img class="img-fluid w-100 h-100" src="/static/images/products/{{field.help_text}}" height="150" width="150" alt="">
              </div>
              <div class="col-md-10">
                <label for="field1">{{field.label}}:</label>
            <input type="number" name="{{ field.name }}" value="{{field.value}}" class="form-control bg-dark text-white mb-2" min="0" required>
              </div>
            </div>
          </div> 
        {% endif %}
     {% endfor %}
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <label for="note">{{form.note.label}}</label>
        <textarea name="{{form.note.name}}" class="form-control bg-dark text-white" id="{{form.note.name}}" rows="5">{{form.note.value}}</textarea>
      </div>

      <div class="col-md-6">

      {% if form.file.value %}
      
        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkFile" value="stayfile" id="stayfile" checked>
          <label class="form-check-label" for="stayfile">
            Keep File
          </label>
            <a target="_blank" class="btn btn-info btn-sm" href="/media/{{form.file.value}}">Download file</a>
        </div>

        <div class="form-check my-3">
          <input class="form-check-input" type="radio" name="checkFile" value="deletefile" id="deletefile">
          <label class="form-check-label" for="deletefile">
            Delete file
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="checkFile" value="uploadfile" id="uploadFile">
          <label class="form-check-label" for="uploadFile">
            Upload a new file
          </label>
          <div class="mb-2">
            <input
              name="{{form.file.name}}"
              style="border: 1px solid white;width:90%;opacity:0.2"
              class="form-control bg-dark text-white"
              type="file"
              onchange="checkFileSize()" 
              id="formFile"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=".pdf,.zip,.rar"
              accept=".pdf,.zip,.rar" 
            >
            <br>
            <label class="text-info" for="formFile">Acceptable file formats zip , rar , pdf</label>
          </div>
        </div>
      {% else %}
        <h4>No file uploaded</h4>
        <div class="mb-2">
          <input
            name="{{form.file.name}}"
            style="border: 1px solid white;"
            class="form-control bg-dark text-white"
            type="file"
            onchange="checkFileSize()" 
            id="fileInput"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title=".pdf,.zip,.rar"
            accept=".pdf,.zip,.rar" 
          >
          <br>
          <label class="text-info" for="formFile">Acceptable file formats zip , rar , pdf</label>
        </div>
      {% endif %}

      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success">Edit</button>
   </div>
</form>


{% endblock %}
{% block js %}

<script>
(() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()

  const radioButtons = document.querySelectorAll('input[type="radio"][name="checkFile"]');
  const formFile = document.getElementById('formFile'); 
  

  if (formFile !== null) {
    formFile.disabled = true;
  }

  radioButtons.forEach(radioButton => {
    radioButton.addEventListener('click', () => {
      if (radioButton.value !== 'uploadfile') {
        if (formFile !== null) {
          if (formFile !== null) {
            formFile.disabled = true;
            formFile.style = 'border: 1px solid white;width:90%;opacity:0.2'

          }
        }
      } else {
        formFile.disabled = false;
        formFile.style = 'border: 1px solid white;width:90%;opacity:1'
        formFile.required = true;
      }
    });
  });
  

flatpickr.localize(flatpickr.l10ns.ar);
flatpickr("#dateInput", {
  allowInput: true,
});



</script>

{% endblock %}
