
{% extends "home/base.html" %}
{% load static %}

{%block css%}
<style>
  label{
    font-size: 16px;
    font-weight: bold;
  }

</style>
{%endblock%}
{% block title %} View record{% endblock %}

{% block content %}
<div class="text-center my-4">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">Account Owner</th>
        <th scope="col">Date Added</th>
        <th scope="col">Last Modified Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{department_name}}</th>
        <td>{{added_name.first_name}}</td>
        <td>{{date_creation|date:'Y-m-d  h:i A'}}</td>
        <td>{{last_modified|date:'Y-m-d  h:i A'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mb-4">
  <div class="col">
      {% if record.is_validate.value %}
      <div class="">
        <label class="check-label" >Record verified</label> &nbsp;
        <i class="fa-solid fa-check fa-xl" style="color: #63E6BE;"></i>
      </div>
      {% else %}
      <div class="">
        <label class="check-label" >Record not verified</label> &nbsp;
        <i class="fa-solid fa-xmark fa-xl" style="color:  #ea538f;"></i>
      </div>
      {% endif %}
  </div>
</div>
<div class="row">
      <div class="col-md-6 mb-2">
          <div class="row">
            <div class="col-md-2">
              <img class="img-fluid w-100 h-100" src="/static/images/products/{{record.date.help_text}}" height="150" width="150" alt="">

            </div>
            <div class="col-md-10">
              <label for="field1">{{record.date.label}}:</label>
          <input type="text" id="dateInput"  disabled name="{{ record.date.name }}" value='{{ record.date.value|date:"Y-m-d" }}' class="form-control bg-white text-black" required placeholder="date">
            </div>
          </div>
      </div>
  {% for field in record%}
    {% if field.name != 'note'  and field.name != "date"  and field.name != "file" and field.name != "is_validate"  %}
      <div class="col-md-6 mb-2">
        <div class="row">
          <div class="col-md-2">
            <img class="img-fluid w-100 h-100" src="/static/images/products/{{field.help_text}}" height="150" width="150" alt="">

          </div>
          <div class="col-md-10">
            <label for="field1">{{field.label}}:</label>
            <input type="number" disabled name="{{ field.name }}" value="{{field.value}}" class="form-control bg-dark text-white mb-2" min="0" required>    
          </div>
        </div>
      </div> 
    {% endif %}
  {% endfor %}
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <label for="note">{{record.note.label}}</label>
    <textarea disabled name="{{record.note.name}}" class="form-control bg-dark text-white" id="{{record.note.name}}" rows="5">{{record.note.value}}</textarea>
  </div>

  <div class="col-md-6">
    <div class="mb-5">
      {% if record.file.value%}
        <a target="_blank" class="btn btn-info mt-4" href="/media/{{record.file.value}}">Download file</a>
      {% else %}
        <h5 class="mt-4" >None </h5>
      {%endif%}
      </div>
  </div>
</div>
{% endblock %}
{% block js %}

<script>
(() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()

flatpickr.localize(flatpickr.l10ns.ar);
flatpickr("#dateInput", {
  minDate: "2024-01",
  allowInput: true,
});



</script>

{% endblock %}
